*{
    font-family: 'Arial';
}

body {
    border: 3px solid powderblue;
}

h1 {
    text-align: center;
    text-decoration: underline;
    border: 3px solid red;
    padding: 20px;
    margin-top: 20px;
}

header{
    padding-left: 20px;
}

section{
    display: flex;
    width: 50%;
}

section.stats {
    text-align: center;
}

section.pics {
    float: right;
}

footer {
    margin-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

a::hover {
    text-transform: capitalize;
}

img {
    width: 80%
}
